<div class="row" ng-controller="HomeCtrl">
  <div class="col-lg-12">
    <h1>What do you want to find ?</h1>
    <div class="input-group top10">
      <input type="text" class="form-control" ng-model="query">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search!</button>
      </span>
    </div>


    <div class="top10" search="" ng-model="brand">
      <select multiple="" name="selection" id="selection" style="width:100%" class="populate select2-offscreen" tabindex="-1" >
         <optgroup label="Android">
             <option value="motorola">Motorola</option>
             <option value="dell">Dell</option>
             <option value="samsung">Samsung</option>
             <option value="nexus">Nexus</option>
             <option value="t-mobile">T-mobile</option>
         </optgroup>
         <optgroup label="Ios">
             <option value="apple">Apple</option>
         </optgroup>
      </select>
    </div>

    <div class="row top10">
      <div class="col-md-6">
        <pre>
          Query : {{ query }}
          Brands : {{ brand }}
          Example of variable : {{ example_of_watch_need_true }}
        </pre>
      </div>
      <div class="col-md-6">
        <div>
          Events :
          <button class="btn btn-primary" ng-click="changeExampleOfWatchNeedTrue()">Change value of variable</button>
        </div>
        <ul>
          <li ng-repeat="event in events track by $index">{{ event }}</li>
        </ul>
      </div>
    </div>


  </div>

  <div class="col-lg-12">
    <ul class="results list-unstyled">
      <li ng-repeat="result in results | filter:query | byBrand:brand" class="clearfix">
        <div class="col-md-2">
          <img class="img-responsive" ng-src="{{ result.imageUrl }}"/>
        </div>
        <div class="col-md-10">
          <div class="padding-top50">
            {{result.name}}
            <p>{{result.snippet}}</p>
          </div>
        </div>
      </li>
    </ul>

  </div>
</div>